.header-style {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 1rem 1.5rem;
}

.nav-menu {
  padding: 0px 15px
}

.light-mode {
  height: 1rem;
}